<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <style>
            .errors{
                color: red;
            }
        </style>

        <title>Register</title>

        <!-- Bootstrap Core CSS -->
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="{{ url_for('static', filename='css/metisMenu.min.css') }}" rel="stylesheet">

        <!-- Timeline CSS -->
        <link href="{{ url_for('static', filename='css/timeline.css') }}" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="{{ url_for('static', filename='css/startmin.css') }}" rel="stylesheet">

        <!-- Morris Charts CSS -->
        <link href="{{ url_for('static', filename='css/morris.css') }}" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>

        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="login-panel panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Register</h3>
                        </div>
                        <div class="panel-body">
                            <p><b>Note:</b> Your username must be your character name in the following format: <i>Name-Server</i></p>
                            <hr/>
                            <form role="form" action="" method="post">
                                <fieldset>
                                    <div class="form-group">
                                        {{ form.username.label }}: {{ form.username(placeholder='Character-Realm') }}
                                    </div>
                                    <ul class=errors>
                                    {% for error in form.username.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                    </ul>
                                    <div class="form-group">
                                        {{ form.password.label }}: {{ form.password }}
                                    </div>
                                    <ul class=errors>
                                    {% for error in form.password.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                    </ul>
                                    <!-- Change this to a button or input when using this as a form -->
                                    <button style="margin-left: auto; margin-right: auto; display: block;" type="submit" class="btn btn-primary btn-lg">Register</button>
                                </fieldset>
                                {{ form.csrf_token }}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- jQuery -->
        <script src="../js/jquery.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="../js/bootstrap.min.js"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="../js/metisMenu.min.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="../js/startmin.js"></script>

    </body>
</html>
